<h1>Weather App</h1>

<mat-form-field class="example-form-field">
    <mat-label>Search for a city</mat-label>
    <input matInput type="text" 
    #searchInput
    matTooltip="Look up a city to find it's weather forcast"
    >
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput.value=''">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<button mat-button (click)="setCityCountry(searchInput.value)">
    <mat-icon>search</mat-icon>
</button>

<div class="cards">
    <mat-card class="mat-card" *ngFor="let forcast of forcastObj">
        <img [src]="forcast.weatherImg">
        <mat-card-content class="content">
           {{forcast.cityName}}
        </mat-card-content>
        <mat-card-content class="content">
            {{forcast.date}}
         </mat-card-content>
        <mat-card-content class="content">
            {{forcast.temp}}°
        </mat-card-content>
        <mat-card-content class="content">
           {{forcast.minTemp}}°
           /
           {{forcast.maxTemp}}°
        </mat-card-content>
        <mat-card-content class="content">
            Feels like: {{forcast.feelsLike}}°
        </mat-card-content>
        <mat-card-content class="content">
            Humidity: {{forcast.humidity}}°
        </mat-card-content>
        <mat-card-content class="content">
            Sea Level: {{forcast.seaLevel}}°
        </mat-card-content>
        <mat-card-content class="content">
            {{forcast.description}}°
        </mat-card-content>
    </mat-card>
</div>


<!-- 
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
Icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->